BODY {
    margin: 0;
  }
  
  .menu {
    width: 280px;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
  }
  
  .body {
    margin-left: 280px;
    padding:2em;
    padding-top: 0.2em;
  }

  .metismenu {
    background-image: url("../images/prism.png");
    padding-top: 50px;
  }

  .metismenu-link:visited {
    background-color: rgb(11, 116, 148);
  }